@model ShippingDetailsViewModel

<form asp-controller="Cart" asp-action="Complete" method="post">
    <div class="form-group">
        <label asp-for="ShippingDetail.FirstName">AD</label>
        <input asp-for="ShippingDetail.FirstName" class="form-control" placeholder="Müşteri ADI">
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.LastName">SOYAD</label>
        <input asp-for="ShippingDetail.LastName" class="form-control" placeholder="Müşteri SOYADI">
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.Email">Email</label>
        <input asp-for="ShippingDetail.Email" class="form-control" placeholder="Müşteri Email Adresi">
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.Age">YAŞ</label>
        <input asp-for="ShippingDetail.Age" class="form-control" placeholder="Müşteri YAŞ">
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.City">ŞEHİR</label>
        <input asp-for="ShippingDetail.City" class="form-control" placeholder="Müşteri ŞEHİR">
    </div>
    <div class="form-group">
        <label asp-for="ShippingDetail.Address">ADRES</label>
        <input asp-for="ShippingDetail.Address" class="form-control" placeholder="Müşteri Adresi">
    </div>

    <input type="submit" value="Kaydet" class="btn btn-success btn-group-sm"/> 

</form> 